:host {
  .resource-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .name {
      font-weight: 500;
    }
  }

  .checkbox-column-title {
    text-align: center;
  }

  .mat-divider {
    margin-bottom: 4px;
  }

  .resource-list {
    padding-bottom: 8px;
    height: 42px;
  }
}

:host ::ng-deep {
  .resource-list {
    mat-form-field {
      .mat-form-field-wrapper {
        padding-bottom: 0;
        .mat-form-field-infix {
          border-top-width: 0.2em;
          width: auto;
          min-width: auto;
        }
        .mat-form-field-underline {
          bottom: 0;
        }
        .mat-form-field-subscript-wrapper{
          margin-top: 1.8em;
        }
      }
    }
  }
}
