<section [formGroup]="deviceCredentialsMqttFormGroup">
  <mat-form-field class="mat-block">
    <mat-label translate>device.client-id</mat-label>
    <input matInput formControlName="clientId">
    <mat-error *ngIf="deviceCredentialsMqttFormGroup.get('clientId').hasError('pattern')">
      {{ 'device.client-id-pattern' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="mat-block">
    <mat-label translate>device.user-name</mat-label>
    <input matInput formControlName="userName" [required]="!!deviceCredentialsMqttFormGroup.get('password').value">
    <mat-error *ngIf="deviceCredentialsMqttFormGroup.get('userName').hasError('required')">
      {{ 'device.user-name-required' | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="mat-block">
    <mat-label translate>device.password</mat-label>
    <input matInput formControlName="password"
           autocomplete="new-password"
           (ngModelChange)="passwordChanged()"
           type="password">
    <tb-toggle-password matSuffix></tb-toggle-password>
  </mat-form-field>
  <tb-error style="margin-top: -12px; display: block;"
            [error]="deviceCredentialsMqttFormGroup.hasError('atLeastOne') ?
              ('device.client-id-or-user-name-necessary' | translate) : ''"></tb-error>
</section>
