@import '../../../../../scss/constants';

:host {

  .tb-progress-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    opacity: 1;
  }

  .tb-dashboard-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;
    outline: none;

    gridster-item {
      transition: none;
      overflow: visible;
      background: none;
    }
  }

  #gridster-child {
    background: none;
  }
}

.tb-dashboard-context-menu-items {
  min-width: 256px;
}
