:host {
  .communication-config {
    border: 2px groove rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 8px;
    min-width: 0;
  }

  .scope-row {
    padding-bottom: 8px;
  }

  .required-text {
    margin: 16px 0
  }
}

:host ::ng-deep {
  .mat-form-field.spec {
    .mat-form-field-infix {
      width: 160px;
    }
  }
  .button-icon{
    font-size: 20px;
    width: 20px;
    height: 20px;
  }
}
