:host {
  .mapping-config {
    min-width: 518px;
  }
  .mapping-list {
    padding-bottom: 8px;
    height: 46px;
  }

  .required-text {
    margin: 14px 0;
  }
}

:host ::ng-deep {
  .mapping-list {
    mat-form-field {
      .mat-form-field-wrapper {
        padding-bottom: 0;
        .mat-form-field-infix {
          border-top-width: 0.2em;
          width: auto;
          min-width: auto;
        }
        .mat-form-field-underline {
          bottom: 0;
        }
        .mat-form-field-subscript-wrapper{
          margin-top: 1.8em;
        }
      }
    }
  }
}
