<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="10 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.echoiot.server" level="INFO"/>
    <logger name="org.apache.kafka.common.utils.AppInfoParser" level="WARN"/>
    <logger name="org.apache.kafka.clients" level="WARN"/>
    <!-- To enable the logging of scanned rule engine components-->
    <!--    <logger name="component.service.org.echoiot.server.AnnotationComponentDiscoveryService" level="DEBUG" />-->
    <!-- Other useful logs -->
    <!--    <logger name="org.springframework.jdbc.core" level="TRACE" />-->
    <!--    <logger name="org.hibernate.SQL" level="DEBUG" />-->
    <!--    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />-->

    <!--    <logger name="org.echoiot.server.service.queue" level="TRACE" />-->
    <!--    <logger name="org.echoiot.server.service.transport" level="TRACE" />-->
    <!--    <logger name="memory.queue.org.echoiot.server.InMemoryStorage" level="DEBUG" />-->
    <!--    <logger name="ttl.service.org.echoiot.server.AbstractCleanUpService" level="DEBUG" />-->

    <!--    <logger name="org.echoiot.server.service.subscription" level="TRACE"/>-->
    <!--    <logger name="org.echoiot.server.service.telemetry" level="TRACE"/>-->
    <!--    <logger name="org.eclipse.californium.scandium.DTLSConnector" level="TRACE" />-->
    <!--    <logger name="org.eclipse.californium.scandium.dtls.Handshaker" level="DEBUG" />-->

    <!-- Top Rule Nodes by max execution time -->
    <!--    <logger name="queue.service.org.echoiot.server.TbMsgPackProcessingContext" level="DEBUG" /> -->

    <!-- MQTT transport debug -->
    <!--    <logger name="org.echoiot.server.transport.mqtt.MqttTransportHandler" level="DEBUG" /> -->

    <logger name="com.microsoft.azure.servicebus.primitives.CoreMessageReceiver" level="OFF" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>
